.header-left{
    position: fixed;
    width: 240px;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #5c3418,
    #8a5630
    );
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-left h1{
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hello h3{
    color: #f1d7bc;

    font-weight: normal;

    margin-bottom: 40px;
}


/* BOTÕES */

.btn-nav-white,
.btn-logout{
    width: 85%;

    background-color: white;

    border-radius: 18px;

    padding: 18px;

    margin-bottom: 20px;

    text-align: center;

    cursor: pointer;

    transition: 0.3s;
}

.btn-nav-white:hover,
.btn-logout:hover{
    transform: scale(1.05);

    background-color: #f5e5d6;
}

.btn-nav-white a{
    text-decoration: none;
}

.btn-nav-white h3,
.btn-logout h3{
    margin: 0;

    color: #6d4122;
}


/* CARROSSEL */

.obra {
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, sans-serif;
 
}

.container-carrossel{
    margin-left: 270px;

    padding-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.carrossel{
    width: 82%;

    display: flex;

    gap: 20px;

    overflow-x: auto;

    scroll-behavior: smooth;

    padding: 20px;
}

.carrossel::-webkit-scrollbar{
    display: none;
}


/* CARDS */

.card{
    min-width: 240px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: #4a2b17;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);

    background-color: #fff7ef;
}


/* BOTÕES SETA */

.btn{
    width: 55px;
    height: 55px;

    border: none;

    border-radius: 50%;

    font-size: 30px;

    cursor: pointer;

    background-color: white;

    box-shadow: 0 3px 10px rgba(0,0,0,0.15);

    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}


/* TEXTO */

.texto{
    width: 62%;
    margin:
    50px auto 60px 380px;
    background-color: white;
    padding:
    60px 70px;
    border-radius: 25px;
    box-shadow:
    0 5px 20px rgba(0,0,0,0.08);
    font-size: 18px;
    line-height: 2.2;
    color: #4b3526;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto p::first-letter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;

    font-weight: bold;

    color: #8a5630;
}


/* SELECT */

.select{
    width: 500px;

    margin:
    80px auto 100px 500px;

    background-color: white;

    padding: 40px;

    border-radius: 25px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

    text-align: center;
}

.select h2{
    margin-bottom: 25px;

    color: #5c3418;
}

#select_obra{
    width: 100%;

    padding: 15px;

    border-radius: 15px;

    border: 2px solid #d8c0aa;

    font-size: 18px;

    outline: none;
}